body {
    width: 1248px;
    margin: 0px 119.6px;
    border: 0px;
    padding: 0px 16px;
}

.news {
    width: 800px;
    margin: 16px 0 24px 0;
    padding-bottom: 24px;
    font-family: ReithSans,Helvetica,Arial,freesans,sans-serif; /* USES PRIVATE FONT*/
    line-height: 22px;
}

#main_header {
    margin: 0px;
    border: 0px;
    border-bottom: solid 1px #BABABA;
    padding: 0px 0px 24px;

}

.main_title {
    margin: 0px;
    font-size: 44px;
    line-height: 48px;
    color: #3F3F42;
}

.subtitle_author {
    font-size: 13px;
    line-height: 16px;
    color: #696969;
    font-weight: 400;
}

.author {
    margin: 16px 0;
}

.strong {
    color: #3F3F42;
}

.time {
    margin-top: 4px;
}

.time_img {
    font-weight: 400;
    height: 13px;
}


.article_image {
    display: block;
    margin: 24px 0;
    color: #EEEEEE;
    font-size: 14px;
    position: relative
}

.figcaption1 {
    padding: 4px 8px;
    text-transform: uppercase;
    width: fit-content;
    background: #3F3F42;
    position: absolute;
    right: 0px;
    bottom: 60px;
}

.figcaption2 {
    padding: 16px;
    background: #3F3F42;
    position: relative;
    bottom: 6.1px;
}